<div class="container">

	<p style="padding: 10px; border: grey 1px solid; margin: 25px">Task</p>

	Completed?
	<button type="button" class="btn btn-default">Yes</button>
	<button type="button" class="btn btn-default">No</button>

</div>

