<div class='todo-card <%= card_color(todo) %>'>

  <h2><%= todo.title %></h2>

  Completed?
  <button type="button" class="btn btn-default">
    <%= link_to "Yes", edit_todo_path(todo, status: "completed"), class: "black" %>
  </button>

  <button type="button" class="btn btn-default">
    <%= link_to "No", edit_todo_path(todo, status: "failed"), class: "black" %>
  </button>
</div>
